# Lab 1: Python basics

__Student I:__ johed883 (Johannes Hedström)

__Student II:__ mikmo937 (Mikael Montén)

### A word of caution

There are currently two versions of Python in common use, Python 2 and Python 3, which are not 100% compatible. Python 2 is slowly being phased out but has a large enough install base to still be relevant. This course uses the more modern Python 3 but while searching for help online it is not uncommon to find help for Python 2. Especially older posts on sources such as Stack Exchange might refer to Python 2 as simply "Python". This should not cause any serious problems but keep it in mind whenever googling. With regards to this lab, the largest differences are how `print` works and the best practice recommendations for string formatting.

### References to R

Most students taking this course who are not already familiar with Python will probably have some experience of the R programming language. For this reason, there will be intermittent references to R throughout this lab. For those of you with a background in R (or MATLAB/Octave, or Julia) the most important thing to remember is that indexing starts at 0, not at 1.

### Recommended Reading

This course is not built on any specific source and no specific litterature is required. However, for those who prefer to have a printed reference book, we recommended the books by Mark Lutz:

* Learning Python by Mark Lutz, 5th edition, O'Reilly. Recommended for those who have no experience of Python. This book is called LP in the text below.

* Programming Python by Mark Lutz, 4th edition, O'Reilly. Recommended for those who have some experience with Python, it generally covers more advanced topics than what is included in this course but gives you a chance to dig a bit deeper if you're already comfortable with the basics. This book is called PP in the text.

For the student interested in Python as a language, it is worth mentioning
* Fluent Python by Luciano Ramalho (also O'Reilly). Note that it is - at the time of writing - still in its first edition, from 2015. Thus newer features will be missing.

### A note about notebooks

When using this notebook, you can enter python code in the empty cells, then press ctrl-enter. The code in the cell is executed and if any output occurs it will be displayed below the square. Code executed in this manner will use the same environment regardless of where in the notebook document it is placed. This means that variables and functions assigned values in one cell will thereafter be accessible from all other cells in your notebook session.

Note that the programming environments described in section 1 of LP is not applicable when you run python in this notebook.

### A note about the structure of this lab

This lab will contain tasks of varying difficulty. There might be cases when the solution seems too simple to be true (in retrospect), and cases where you have seen similar material elsewhere in the course. Don't be fooled by this. In many cases, the task might just serve to remind us of things that are worthwhile to check out, or to find out how to use a specific method.

We will be returning to, and using, several of the concepts in this lab.

### 1. Strings and string handling

The primary datatype for storing raw text in Python is the string. Note that there is no character datatype, only strings of length 1. This can be compared to how there are no atomic numbers in R, only vectors of length 1. A reference to the string datatype can be found __[here](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str)__.

[Litterature: LP: Part II, especially Chapter 4, 7.]

a) Define the variable `parrot` as the string containing the sentence _It is dead, that is what is wrong with it. This is an ex-"Parrot"!_.

[Note: If you have been programming in a language such as C or Java, you might be a bit confused about the term "define". Different languages use different terms when creating variables, such as "define", "declare", "initialize", etc. with slightly different meanings. In statically typed languages such as C or Java, declaring a variable creates a name connected to a container which can contain data of a specific type, but does not put a value in that container. Initialization is then the act of putting an initial value in such a container. Defining a variable is often used as a synonym to declaring a variable in statically typed languages but as Python is dynamically typed, i.e. variables can contain values of any type, there is no need to declare variables before initializing them. Thus, defining a variable in python entails simply assigning a value to a new name, at which point the variable is both declared and initialized. This works exactly as in R.]

In [ ]:
parrot = 'It is dead, that is what is wrong with it. This is an ex-"Parrot"!.' # creating the 'parroti-string

b) What methods does the string now called `parrot` (or indeed any string) seem to support? Write Python commands below to find out.

In [ ]:
# using the dir function to get information on methods
dir(parrot)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

c) Count the number of characters (letters, blank space, commas, periods
etc) in the sentence.

In [ ]:
len(parrot) # length of the string = number of characters

67

d) If we type `parrot + parrot`, should it change the string itself, or merely produce a new string? How would you test your intuition? Write expressions below.

In [ ]:
twoparrots = parrot + parrot # first expression

parrot == twoparrots # to see if its changed(it should return false as we havent changed parrot)

False

e) Separate the sentence into a list of words (possibly including separators) using a built-in method. Call the list `parrot_words`.

In [ ]:
parrot_words = parrot.split() # using the split function to separate the sentence
parrot_words

['It',
 'is',
 'dead,',
 'that',
 'is',
 'what',
 'is',
 'wrong',
 'with',
 'it.',
 'This',
 'is',
 'an',
 'ex-"Parrot"!.']

f) Merge (concatenate) `parrot_words` into a string again.

In [ ]:
parrot_words=' '.join(parrot_words) # Joining them together with a space between them ' '

parrot_words

'It is dead, that is what is wrong with it. This is an ex-"Parrot"!.'

g) Create a string `parrot_info` which consists of "The length of parrot_info is 66." (the length of the string should be calculated automatically, and you may not write any numbers in the string). Use f-string syntax!

In [ ]:
parrot_info = 'The length of parrot_info is'
print(f'{parrot_info} {len(parrot_info)}') # using f string and len to print and calculate the numbers

The length of parrot_info is 28

### 2. Iteration, sequences and string formatting

Loops are not as painfully slow in Python as they are in R and thus, not as critical to avoid. However, for many use cases, _comprehensions_, like _list comprehensions_ or _dict comprehensions_ are faster. In this assignment we will see both traditional loop constructs and comprehensions. For an introduction to comprehensions, __[this](https://python-3-patterns-idioms-test.readthedocs.io/en/latest/Comprehensions.html)__ might be a good place to start.

It should also be noted that what Python calls lists are unnamed sequences. As in R, a Python list can contain elements of many types, however, these can only be accessed by indexing or sequence, not by name as in R.

a) Write a `for`-loop that produces the following output on the screen:<br>
> `The next number in the loop is 5`<br>
> `The next number in the loop is 6`<br>
> ...<br>
> `The next number in the loop is 10`<br>

[Hint: the `range` function has more than one argument.]<br>
[Literature: For the range construct see LP part II chapter 4 (p.112).]

In [ ]:
for nr in range(5,11):
  print(f'The next number in the loop is {nr}')

The next number in the loop is 5
The next number in the loop is 6
The next number in the loop is 7
The next number in the loop is 8
The next number in the loop is 9
The next number in the loop is 10

b) Write a `for`-loop that for a given`n` sets `first_n_squared` to the sum of squares of the first `n` numbers (0..n-1). Call the iteration variable `i`.

In [ ]:
n = 6
first_n_squared  = 0
for i in range(0,n): # looping from 0 to n-1
  first_n_squared  = first_n_squared  + (i**2) # summing the squares of the loop
first_n_squared

55

Hint (not mandatory): iteration is often about a gradual procedure of updating or computing. Write out, on paper, how you would compute $0^2$, $0^2 + 1^2$, $0^2 + 1^2 + 2^2$, and consider what kinds of gradual updates you might want to perform.

c) It is often worth considering what a piece of code actually contributes. Think about a single loop iteration (when we go through the body of the loop). What should the variable `first_n_squared` contain _before_ a loop iteration? What should the loop iteration contribute? What does it contain _after_ ? A sentence or two for each is enough. Write this as a code comment in the box below:

In [ ]:
# the first_n_squared should contain a 0 so its numeric without any value that makes the sum incorrect

# first_n_squared contain the sum of squared values between 0 and n-1 after the iterations and each iteration adds a squared value for the ith iteration.

Hint:
* Your answer might involve the iteration variable `i` (informally: the current number we're looking at in the loop).
* After all the loop iterations are done (and your iteration variable has reached _n - 1_ ), it should contain the sum $0^2 + 1^2 + ... + (n-1)^2$. Does your explanation suggest that this should be the case?

[Tangent: this form of reasoning can form the basis of a mathematical correctness proof for algorithms, that enables us to formally check that code does what it should. This is quite beyond the scope of this course, but the (CS-)interested reader might want to consider reading up on eg [loop invariants](https://en.wikipedia.org/wiki/Loop_invariant), We only go into it at the level of detail that actually forces us to think about what our (simple) code does.]

d) Write a code snippet that counts the number of __letters__ (alphabetic characters) in `parrot` (as defined above). Use a `for` loop.

In [ ]:
nrletter = 0
for p in parrot: # going through every instance in parrot
  if p.isalpha(): # checking if its alphabetic
    nrletter += 1 # adding 1 it it is

nrletter

47

e) Explain your letter-counting code in the same terms as above (before, after, contributed).

In [ ]:
# Initialize with 0
# Looping through every instance in the sentence
# if its alphabetic i add 1 to the nrletter, else we go to the next instance

f) Write a for-loop that iterates over the list `names` below and presents them on the screen in the following fashion:

> `The name Tesco is nice`<br>
> ...<br>
> `The name Zeno is nice`<br>

Use Python's string formatting capabilities (the `format` function in the string class) to solve the problem.

[Warning: The best practices for how to do string formatting differs from Python 2 and 3, make sure you use the Python 3 approach.]<br>
[Literature: String formatting is covered in LP part II chapter 7.]

In [ ]:
names = ['Tesco', 'Forex', 'Alonzo', 'Zeno']

for n in names:
  print(f'The name {n} is nice')

The name Tesco is nice
The name Forex is nice
The name Alonzo is nice
The name Zeno is nice

g) Write a for-loop that iterates over the list `names` and produces the list `n_letters` (`[5,5,6,4]`) with the length of each name.

In [ ]:
n_let = [] # creating an empty list
for n in names:
  n_let.append(len(n)) # adding the length of the word in the list

n_let

[5, 5, 6, 4]

h) How would you - in a Python interpreter/REPL or in this Notebook - retrieve the help for the built-in function `max`?

In [ ]:
help(max) # using the help function

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

i) Show an example of how `max` can be used with an iterable of your choice.

In [ ]:
m = (1,2,3,4,5,6,7,8,57)
print(max(m))

57

j) Use a comprehension (or generator) to calculate the sum 0^2 + ... + (n-1)^2 as above.

In [ ]:
n = 6

sum_s = sum([i**2 for i in range(0,n)]) # summing the is in the range with comprehension

sum_s # same result

55

l) Use a list comprehension to produce a list `short_long` that indicates if the name (in the list `names`) has more than four letters. The answer should be `['long', 'long', 'long', 'short']`.

In [ ]:
short_long = ['long' if len(i) > 4 else 'short' for i in names ]
short_long

['long', 'long', 'long', 'short']

m) Use a comprehension to count the number of letters in `parrot`. You may not use a `for`-loop. (The comprehension will contain the word `for`, but it isn't a `for ... in ...:`-statement.)

In [ ]:
sum([1 if i.isalpha() else 0 for i in parrot])

47

[Note: this is fairly similar to the long/short task, but note how we access member functions of the values.]

n) Below we have the string `datadump`. Retrieve the substring string starting at character 27 (that is "o") and ending at character 34 ("l") by means of slicing.

In [ ]:
datadump = "The name of the game is <b>old html</b>. That is <b>so cool</b>."

print(datadump[27:34]) # retriving it with indiciesfrom 27 to 34

old htm

o) Write a loop that uses indices to __simultaneously__ loop over the lists `names` and `short_long` to write the following to the screen:

> `The name Tesco is a long name`<br>
> ...<br>
> `The name Zeno is a short name`<br>

In [ ]:
for i in range(4):
  print(f'The name {names[i]} is a {short_long[i]} name') # looping over the range in the lists and indice with i

The name Tesco is a long name
The name Forex is a long name
The name Alonzo is a long name
The name Zeno is a short name

Note: this is a common programming pattern, though not particularly Pythonic in this use case. We do however need to know how to use indices in lists to work properly with Python.

p) Do the task above once more, but this time without the use of indices.

## Comment:
    Using i,j as variable names is really unclear: i,j usually refer to indexes. You could have named your variables name and length for example.

In [ ]:
for name , length in zip(names, short_long):
    print(f'The name {name} is a {length} name')

The name Tesco is a long name
The name Forex is a long name
The name Alonzo is a long name
The name Zeno is a short name

[Hint: Use the `zip` function.]<br>
[Literature: zip usage with dictionary is found in LP part II chapter 8 and dictionary comprehensions in the same place.]

q) Among the built-in datatypes, it is also worth mentioning the tuple. Construct two tuples, `one` containing the number one and `two` containing the number 1 and the number 2. What happens if you add them? Name some method that a list with similar content (such as `two_list` below) would support, that `two` doesn't and explain why this makes sense.

## Comment:
    You did not explained why it makes sense that lists support append but not tuples. Please explain.

In [ ]:
one = (1,)
two = (1,2)
print(one + two) # when you add them they

# list
one_list = [1]
two_list  = [1,2]
add = one_list+two_list
print(add)
add.append(5) # you could use append to add values in a list but not a tuple
print(add)

"""
Tuples are immutable which mean that they cannot be changed, while lists are
mutable and therefore can be changed. The append method modifies the list in place so
it doesnt create a new one and thats why it doesnt work for tuples, as they cant be changed.

"""

(1, 1, 2)
[1, 1, 2]
[1, 1, 2, 5]

### 3. Conditionals, logic and while loops

a) Below we have an integer called `n`. Write code that prints "It's even!" if it is even, and "It's odd!" if it's not.

In [ ]:
n = -4 # Change this to other values and run your code to test.

if n % 2 == 0: # if its even print...
  print('its even!')
else: # if its odd print
  print('Its odd!')

its even!

b) Below we have the list `options`. Write code (including an `if` statement) that ensures that the boolean variable `OPTIMIZE` is True _if and only if_ the list contains the string `--optimize` (exactly like that).

In [ ]:

OPTIMIZE = None       # Or some value which we are unsure of.

options = ['--print-results', '--optimize', '-x']  # This might have been generated by a GUI or command line option

if '--optimize' in options: # checking if optimize is in the list
  OPTIMIZE = True
else:
  OPTIMIZE = False

print(OPTIMIZE)

True

Note: It might be tempting to use a `for` loop. In this case, we will not be needing this, and you may _not_ use it. Python has some useful built-ins to test for membership.

You may use an `else`-free `if` statement if you like.

c) Redo the task above, but now consider the case where the boolean `OPTIMIZE` is True _if and only if_ the `options` list contains either `--optimize` or `-o` (or both). **You may only use one if-statement**.

In [ ]:

OPTIMIZE = None       # Or some value which we are unsure of.

options = ['--print-results', '--optimized', '-o']  # This might have been generated by a GUI or command line option

if '--optimize' or '-o' in options: # checking if optimize is in the list
  OPTIMIZE = True
else:
  OPTIMIZE = False

print(OPTIMIZE)

True

[Hint: Don't forget to test your code with different versions of the options list!

If you find something that seems strange, you might want to check what the value of the _condition itself_ is.]

[Note: This extension of the task is included as it includes a common source of hard-to-spot bugs.]

d) Sometimes we can avoid using an `if` statement altogether. The task above is a prime example of this (and was introduced to get some practice with the `if` statement). Solve the task above in a one-liner without resorting to an `if` statement. (You may use an `if` expression, but you don't have to.)

In [ ]:
OPTIMIZE = '--optimize' in options or '-o' in options # without if statement

OPTIMIZE

True

[Hint: What should the value of the condition be when you enter the then-branch of the `if`? When you enter the else-branch?]

e) Write a `while`-loop that repeatedly generates a random number from a uniform distribution over the interval [0,1], and prints the sentence 'The random number is smaller than 0.9' on the screen until the generated random number is greater than 0.9.

[Hint: Python has a `random` module with basic random number generators.]<br/>

[Literature: Introduction to the Random module can be found in LP part III chapter 5 (Numeric Types). Importing modules is introduced in part I chapter 3  and covered in depth in part IV.]

## Comment:
    This is not correct, since when it > 0.9, the code will still print "The random number is small than 0.9".
    Please change this.

In [7]:
import random # importing the module

it = random.uniform(0,1) # random number to hopefully start the loop
while(it <= 0.9): # Added = so it has to be greater and not less or equal and printing the text before generating a new value from the uniform distribution.
  print('The random number is smaller than 0.9') # printing text

  it = random.uniform(0,1) # drawing a new number

The random number is smaller than 0.9
The random number is smaller than 0.9
The random number is smaller than 0.9
The random number is smaller than 0.9
The random number is smaller than 0.9
The random number is smaller than 0.9
The random number is smaller than 0.9

### 4. Dictionaries

Dictionaries are association tables, or maps, connecting a key to a value. For instance a name represented by a string as key with a number representing some attribute as a value. Dictionaries can themselves be values in other dictionaries, creating nested or hierarchical data structures. This is similar to named lists in R but keys in Python dictionaries can be more complex than just strings.

[Literature: Dictionaries are found in LP section II chapter 4.]

a) Make a dictionary named `amadeus` containing the information that the student Amadeus is a male, scored 8 on the Algebra exam and 13 on the History exam. The dictionary should NOT include a name entry.

In [1]:
Amadeus = {'Gender':'Male', 'Algebra': 8, 'History': 13}

Amadeus

{'Gender': 'Male', 'Algebra': 8, 'History': 13}

b) Make three more dictionaries, one for each of the students: Rosa, Mona and Ludwig, from the information in the following table:

| Name          | Gender        | Algebra       | History |
| :-----------: | :-----------: |:-------------:| :------:|
| Rosa          | Female        | 19            | 22      |
| Mona          | Female        | 6             | 27      |
| Ludwig        | Other         | 12            | 18      |

In [2]:
Rosa = {'Gender':'Female', 'Algebra': 19, 'History': 22}

print(Rosa)
Mona = {'Gender':'Female', 'Algebra': 6, 'History': 27}

print(Mona)
Ludwig = {'Gender':'Other', 'Algebra': 12, 'History': 18}
print(Ludwig)

{'Gender': 'Female', 'Algebra': 19, 'History': 22}
{'Gender': 'Female', 'Algebra': 6, 'History': 27}
{'Gender': 'Other', 'Algebra': 12, 'History': 18}

c) Combine the four students in a dictionary named `students` such that a user of your dictionary can type `students['Amadeus']['History']` to retrive Amadeus score on the history test.

[HINT: The values in a dictionary can be dictionaries.]

In [3]:
students = {'Amadeus':Amadeus,'Rosa':Rosa, 'Ludwig':Ludwig, 'Mona':Mona} # creating the directory


students['Amadeus']['History']

13

d) Add the new male student Karl to the dictionary `students`. Karl scored 14 on the Algebra exam and 10 on the History exam.

In [4]:
Karl= {'Gender':'Male', 'Algebra':14, 'History':10} # Crating karl
students['Karl'] = Karl # adding karl

students

{'Amadeus': {'Gender': 'Male', 'Algebra': 8, 'History': 13},
 'Rosa': {'Gender': 'Female', 'Algebra': 19, 'History': 22},
 'Ludwig': {'Gender': 'Other', 'Algebra': 12, 'History': 18},
 'Mona': {'Gender': 'Female', 'Algebra': 6, 'History': 27},
 'Karl': {'Gender': 'Male', 'Algebra': 14, 'History': 10}}

e) Use a `for`-loop to print out the names and scores of all students on the screen. The output should look like something this (the order of the students doesn't matter):

> `Student Amadeus scored 8 on the Algebra exam and 13 on the History exam`<br>
> `Student Rosa scored 19 on the Algebra exam and 22 on the History exam`<br>
> ...

[Hint: Dictionaries are iterables, also, check out the `items` function for dictionaries.]

## Comment:
    Again, i and j are poorly named. You can come up with better names. Please redo.

In [5]:
# changed i and j to name and points
for name, points in students.items() : # looping with i and j over students and printing
  print(f'Student {name} scored {points.get("Algebra",0)} on the Algebra exam and {points.get("History",0)} on the History exam')

Student Amadeus scored 8 on the Algebra exam and 13 on the History exam
Student Rosa scored 19 on the Algebra exam and 22 on the History exam
Student Ludwig scored 12 on the Algebra exam and 18 on the History exam
Student Mona scored 6 on the Algebra exam and 27 on the History exam
Student Karl scored 14 on the Algebra exam and 10 on the History exam

f) Use a dict comprehension and the lists `names` and `short_long` from assignment 2 to create a dictionary of names and wether they are short or long. The result should be a dictionary equivalent to {'Forex':'long', 'Tesco':'long', ...}.

## Comment:
    Same here, please redo

In [ ]:
# changes i,j to name and length
new_dict = {name : length  for name,length in zip(names,short_long )}
new_dict

{'Tesco': 'long', 'Forex': 'long', 'Alonzo': 'long', 'Zeno': 'short'}

### 5. Introductory file I/O

File I/O in Python is a bit more general than what most R programmers are used to. In R, reading and writing files are usually performed using file type specific functions such as `read.csv` while in Python we usually start with reading standard text files. However, there are lots of specialized functions for different file types in Python as well, especially when using the __[pandas](http://pandas.pydata.org/)__ library which is built around a datatype similar to R DataFrames. Pandas will not be covered in this course though.

[Literature: Files are introduced in LP part II chapter 4 and chapter 9.]

The file `students.tsv` contains tab separated values corresponding to the students in previous assigments.

a) Iterate over the file, line by line, and print each line. Do NOT use a CSV reader.

The result should be something like this:

> `Amadeus	Male	8	13`<br>
> `Rosa	Female	19	22`<br>
> ...

The file should be closed when reading is complete.

[Hint: Files are iterable in Python.]

In [ ]:
from google.colab import drive
drive.mount('/gdrive') # importing drive and giving access to to files

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
%cd /gdrive/MyDrive/Python # changing directory

[Errno 2] No such file or directory: '/gdrive/MyDrive/Python # changing directory'
/Users/gabdu45/Documents/teaching/python/2024/Laborations/Lab1/submissions

In [ ]:
file = open('students.tsv', 'r') # reading the file

for f in file:
  print(f.strip()) # printing with strip to make it look better

file.close() # closing the file

Amadeus	Male	8	13
Rosa	Female	19	22
Mona	Female	6	27
Ludwig	Other	12	18
Karl	Male	14	10

b) Working with many files can be problematic, especially when you forget to close files or errors interrupt programs before files are closed. Python thus has a special `with` statement which automatically closes files for you, even if an error occurs. Redo the assignment above using the `with` statement.

[Literature: With is introduced in LP part II chapter 9 page 294.]

In [ ]:

with open('students.tsv', 'r') as file:# Open the file in read mode(r)
    for line in file:
        print(line.strip())

Amadeus	Male	8	13
Rosa	Female	19	22
Mona	Female	6	27
Ludwig	Other	12	18
Karl	Male	14	10

c) If you are going to open text files that might have different character encodings, a useful habit might be to use the [`codecs`](https://docs.python.org/3/library/codecs.html) module. Redo the task above, but using codecs.open. You might want to find out the character encoding of the file (for instance in an edit

In [ ]:
import codecs # importing codecs


with codecs.open('students.tsv', 'r', encoding='utf-8') as file: # utf 8 as encoding
    for line in file:
        print(line.strip())

Amadeus	Male	8	13
Rosa	Female	19	22
Mona	Female	6	27
Ludwig	Other	12	18
Karl	Male	14	10

d) Recreate the dictionary from assignment the previous assignment by reading the data from the file. Using a dedicated csv-reader is not permitted.

In [ ]:
new_dict = {}# empty dict
with open('students.tsv', 'r') as file:# Open the file in read mode(r)
    for line in file:
      field = line.split() # split the rows/lines
      name, gen, alg, hist = field  # creating new variables from splitted line
      new_dict[name] = {'Gender': gen, 'Algebra': alg, 'History': hist}# adding them to the dict

e) Using the dictionary above, write sentences from task 4e above to a new file, called `students.txt`.

## Comment:
    Same here for the variable names. Please redo.

In [ ]:
with open('students.txt', 'w') as f: # writing the txt
  for name, points in new_dict.items() : # looping with name and points over students and printing
    f.write(f'Student {name} scored {points.get("Algebra",0)} on the Algebra exam and {points.get("History",0)} on the History exam \n')

In [ ]:
# showing that the txt looks correct
file = open('students.txt', 'r') # reading the file

for f in file:
  print(f.strip()) # printing with strip to make it look better

file.close() # closing the file

Student Amadeus scored 8 on the Algebra exam and 13 on the History exam
Student Rosa scored 19 on the Algebra exam and 22 on the History exam
Student Mona scored 6 on the Algebra exam and 27 on the History exam
Student Ludwig scored 12 on the Algebra exam and 18 on the History exam
Student Karl scored 14 on the Algebra exam and 10 on the History exam